/**
 * Any CSS included here is global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e6ca9;
  --ifm-color-primary-dark: #1d4d7d;
  --ifm-color-primary-darker: #0e355b;
  --ifm-color-primary-darkest: #06283d;
  --ifm-color-primary-light: #6598db;
  --ifm-color-primary-lighter: #85baff;
  --ifm-color-primary-lightest: #a2c8f7;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-hover-overlay: rgba(0, 0, 0, 0.025);
  --docusaurus-announcement-bar-height: auto !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #85b4f2;
  --ifm-color-primary-dark: #2e6ca9;
  --ifm-color-primary-darker: #1d4d7d;
  --ifm-color-primary-darkest: #0e355b;
  --ifm-color-primary-light: #85b4f2;
  --ifm-color-primary-lighter: #a2c8f7;
  --ifm-color-primary-lightest: #b7ddf5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: #303846;
  height: unset;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-12 {
  gap: 3rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 0.25rem;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.mt-2 {
  margin-top: 0.5rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p-8 {
  padding: 2rem;
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-10 {
  padding: 2.5rem;
}

.text-transparent {
  color: transparent;
}

.text-white,
.text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-primary-light {
  color: var(--ifm-color-primary-light);
}

.text-primary-lighter {
  color: var(--ifm-color-primary-lighter);
}

.text-primary-lightest {
  color: var(--ifm-color-primary-lightest);
}

.uppercase {
  text-transform: uppercase;
}

.text-balance {
  text-wrap: balance;
}

.text-center {
  text-align: center;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-lg,
.text-xl {
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-underlined {
  text-decoration: underline dashed;
  text-decoration-color: #ffd700;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.leading-6 {
  line-height: 1.5rem;
}

.font-black {
  font-weight: 900;
}

.font-extrabold {
  font-weight: 800;
}

.font-bold {
  font-weight: 700;
}

.font-large {
  font-weight: 500;
}

.font-light {
  font-weight: 200;
}

.rounded {
  border-radius: 0.25rem;
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

.bg-gradient-to-r {
  background-image: linear-gradient(
    to right,
    var(--tw-gradient-stops)
  );
}

.bg-gradient-to-l {
  background-image: linear-gradient(
    to left,
    var(--tw-gradient-stops)
  );
}

a:hover,
.bg-gradient-to-r:hover,
.bg-gradient-to-l:hover,
.text-primary-light:hover,
.text-primary-lighter:hover,
.text-primary-lightest:hover {
  filter: saturate(1.8);
  transition: filter 0.3s ease-in-out;
}

.menu__link--active {
  filter: saturate(1.3);
}

.bg-color-gradient {
  --tw-gradient-stops: var(--ifm-color-primary-light),
    var(--ifm-color-primary-lighter);
}

.w-\[40px\] {
  width: 40px;
}

.full-width {
  width: 100%;
}

.max-w-screen-xl {
  max-width: 1280px;
}

.max-w-\[1200px\] {
  max-width: 1200px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.max-w-\[400px\] {
  max-width: 400px;
}

.max-w-md {
  max-width: 28rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-20 {
  opacity: 0.2;
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.shadow-black\/10 {
  --tw-shadow-color: rgba(0, 0, 0, 0.1);
  --tw-shadow: var(--tw-shadow-colored);
}

.shadow-xl {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.05),
    0 10px 10px -5px rgba(0, 0, 0, 0.02);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 10px 10px -5px var(--tw-shadow-color);
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:w-\[60px\] {
    width: 60px;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:self-end {
    align-self: flex-end;
  }

  .md\:gap-16 {
    gap: 4rem;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\:w-\[100px\] {
    width: 100px;
  }

  .lg\:max-w-2xl {
    max-width: 42rem;
  }

  .lg\:max-w-\[600px\] {
    max-width: 600px;
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  /* Note: remove fill="white" if needed if light mode */
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

/* Couldn't find a better way to  */
.docusaurus-mermaid-container > svg {
  max-width: 94% !important;
  margin-left: 3%;
  margin-right: 3%;
}

.sidebar-action-title {
  /* padding-bottom: 4px; */
  font-weight: 300;
  font-style: italic;
}

.sidebar-action-title > a::after {
  content: ':';
}

.sidebar-action-item {
  padding: 5px;
  border-radius: 4px;
}

.sidebar-action-item-read {
  background: #49cc901a;
  border: 1px solid #49cc90;
  color: #49cc90;
}

.sidebar-action-item-write {
  background: #fca1301a;
  border: 1px solid #fca130;
  color: #fca130;
}

.sidebar-action-item-delete {
  background: #f93e3e1a;
  border: 1px solid #f93e3e;
  color: #f93e3e;
}

.sidebar-action-item-util {
  background: #8989891a;
  border: 1px solid #898989;
  color: #898989;
}

div.theme-admonition details {
  background: #fff6;
}

div.theme-admonition details,
div.theme-admonition div {
  border-color: #0001;
}

div.theme-admonition details summary {
  --docusaurus-details-decoration-color: #000a;
}

.vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

/* Trick for Safari detection, check https://stackoverflow.com/questions/16348489/is-there-a-way-to-apply-styles-to-safari-only */
_::-webkit-full-page-media,
_:future,
:root .vertical {
  /* writing-mode doesn't work in safari */
  writing-mode: horizontal-tb;
  transform: rotate(-90deg);
}

div[role='banner'] {
  font-size: large;
  background: linear-gradient(
    to right,
    var(--ifm-color-primary-lightest),
    #bc8cff
  );
  border-bottom: none;
  color: white;
}

div[role='banner'] button {
  color: white;
}
