name: CI

on:
  workflow_dispatch:
    inputs:
      release-type:
        type: choice
        description: Release type
        required: true
        options:
        - patch
        - minor
        - major
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Bump package version
        uses: phips28/gh-action-bump-version@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version-type:  ${{ github.event.inputs.release-type }}
          tag-prefix:  'v'
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - name: Publish package on NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
